In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates  #date 형식으로 날짜잡아야함 x축에 시간 올 수 있도록
from matplotlib.dates import DateFormatter #시간 세로로 나타나도록
import datetime
import os
import copy   #변수가 변하지 않도록

plt.style.use('seaborn') #seaborn스타일사용
sns.set(font_scale=1.5)

from matplotlib import font_manager, rc #그래프 한글사용가능
font_name = font_manager.FontProperties(fname="C:/WINDOWS/FONTS/ARLRDBD.TTF").get_name()
rc('font', family=font_name )

import matplotlib
matplotlib.rcParams['axes.unicode_minus']=False #한글설정시 마이너스 부호 안깨지게

import matplotlib.image as mping  #matplotlib 사용해서 그림파일 열때 mpimg.imread('파일명')
 #rgb반전 발생, pip install opencv-python
from PIL import Image as image # 그림을 셀에다가 열고 싶을 때 image.open,크기 재조정 원할 때 image.resize((가로,세로))

import math
%matplotlib inline

In [3]:
df_train=pd.read_csv('C:/Users/HERO/Desktop/연습/타이타닉/train.csv',index_col=False)
df_test=pd.read_csv('C:/Users/HERO/Desktop/연습/타이타닉/test.csv',index_col=False)

In [6]:
#train으로 test의 생존률 추정하기
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [51]:
#결측치 찾기
for i in range(0,12):
    a= df_train[df_train.columns[i]].isnull().sum()
    if a !=0:
        print(df_train.columns[i],':', '%.2f'% (float((a)/len(df_train)*100)),'%')
    else:
        print(df_train.columns[i],':0.00%')

PassengerId :0.00%
Survived :0.00%
Pclass :0.00%
Name :0.00%
Sex :0.00%
Age : 19.87 %
SibSp :0.00%
Parch :0.00%
Ticket :0.00%
Fare :0.00%
Cabin : 77.10 %
Embarked : 0.22 %

In [53]:
for i in range(0,11):
    a= df_test[df_test.columns[i]].isnull().sum()
    if a !=0:
        print(df_test.columns[i],':', '%.2f'% (float((a)/len(df_test)*100)),'%')
    else:
        print(df_test.columns[i],':0.00%')

PassengerId :0.00%
Pclass :0.00%
Name :0.00%
Sex :0.00%
Age : 20.57 %
SibSp :0.00%
Parch :0.00%
Ticket :0.00%
Fare : 0.24 %
Cabin : 78.23 %
Embarked :0.00%